#container {
  margin: 10px;
  padding: 5px;
  background-color: rgb(253, 225, 225);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 600px;
  width: 300px;
}

#container:hover {
  background-color: rgb(255, 179, 179);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  cursor: pointer;
}
