<button (click)="this.order.chargeOrders()">recharger</button>

<p>{{ nom }}</p>

<form>
  <input type="text" name="nom" [(ngModel)]="this.nom" />
</form>

<div *ngFor="let item of this.order.orderTrie">
  <div class="container">
    <p>{{ item.type }}</p>
    <p>{{ item.length }}</p>
    <p>{{ item.HtPrice }}</p>
    <p>{{ item.TTCPrice }}</p>
    <p>{{ item.state }}</p>
    <button (click)="this.suppOrder(item.id)">Supprimer</button>
    <button>modifier</button>
  </div>
  <button>ajouter</button>
</div>
